/**
 * @file
 * Styles for the config menu.
 *
 */

.ssf_flit {
  display: inline;
  margin: 1em;
}

.ssf_flit .form-item {
  display: inline-block;
  margin: 0 1.6em 0 0;
}

.ssf_row {
  display: table-row;
}

.ssf_column {
  display: table-cell;
  margin: 0 3em 0 0;
  min-width: 20%;
}
